body
{
	padding: 50px;
}

/*MENU BAR CSS */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}


li {
    float: left;
    color: #4CAF50;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.float-right{
  float: right;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}



#board-container{
  margin: auto;
  width: 50%;
}

#text-container{
  display:block;
  left:50%;
}

#game-name{
  font-family: 'Poiret One', cursive;
}



#board {
    width: 644px;
    height: 162px;
    margin: 0.5em;
    border: 2px solid #808080;
}

#board div {
    float: left;
    width: 80px;
    height: 79px;
    background-color: #EFDDB6;
    border:1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}

.circle{
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    border:1px solid #ccc;
    width:50px;
    height:60px;
    background-color: #D4C197;
    color: #D4C197;
}


  .lilcircle{
      -webkit-border-radius:8px;
      -moz-border-radius:8px;
      border-radius:8px;
      border:1px solid #ccc;
      width:8px;
      height:8px;
      position: relative;
  }






/* End zone 2*/
#board div:nth-child(1){
  background-color: #EFDDB6;
  height: 158px;
  color: white;
}

/*Circle within end zone 2*/
#board div:nth-child(1) div{
  background-color: #D4C197;
  /*text-align: center;
  vertical-align: middle;*/
}


/*End zone 1*/
#board div:nth-child(2){
  background-color: #EFDDB6;
  float:right;
  height:158px;
  color: white;
}

/*Circle within end zone 1*/
#board div:nth-child(2) div{
  background-color: #D4C197;
  text-align: center;
  /*vertical-align: middle; //doesnt work*/
}












